<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /NETFOX/

    # Redirigir todo a index.php salvo archivos/directorios reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>